.genre-link {
  background-color: yellow;
  margin: 20px 0;
  font-size: 20px;
  padding: 5px;
  line-height: 2;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  display: flex;
  text-align: center;
  justify-content: center;
}
